@use '@/scss/theme-configuration' as *;

.card {
	&__section {
		display: grid;

		@include sizes-fullsize() {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__image {
		display: grid;
		grid-gap: var(--wp--preset--spacing--10-small);
		padding: var(--wp--preset--spacing--50-card);

		&.is-style-card-hover-grow {
			&:focus,
			&:hover {
				transform: scale(1.05);
				box-shadow: pixelsToRem(5) pixelsToRem(5) pixelsToRem(22) rgba(0, 0, 0, 0.15);
			}
		}

		.wp-block-image {
			& > a {
				display: block;
			}
		}
	}
}