@use '@/scss/theme-configuration' as *;

.hero {
	&__home {
		display: flex;
		position: relative;
		box-shadow: 0 pixelsToRem(15) pixelsToRem(25) rgba(0, 0, 0, 0.15);

		&-background {
			display: block;
			position: absolute;
			z-index: -1;
			bottom: 0;
			width: 100%;
			height: 75vw;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		&-content {
			display: grid;
			grid-template-areas: 'hero-description' 'hero-image';
			max-width: var(--wp--custom--sizes--maximum-width);
			margin: 0 auto;

			& > .wp-block-group {
				grid-area: hero-description;
				text-align: center;
			}

			& > .wp-block-image {
				grid-area: hero-image;
				margin: 0;
			}

			
			.wp-block-buttons {
				@include tools-mixins-sizes-breakpoint-below(1023px) {
					&.is-content-justification-center {
						justify-content: center;
					}

					.wp-block-button {
						width: 100%;
						max-width: pixelsToRem(465);
					}
				}
			}
		}

		@include sizes-fullsize() {
			height: var(--wp--custom--sizes--hero-full-height);

			&-background,
			&-content {
				max-height: var(--wp--custom--sizes--hero-full-height);
			}

			&-background {
				top: 0;
				height: 100%;
			}

			&-content {
				grid-template-areas: 'hero-description hero-image';
				grid-template-columns: pixelsToRem(525) 1fr;
				grid-template-rows: var(--wp--custom--sizes--hero-full-height);
				overflow-x: hidden;
                
				& > .wp-block-image {
					max-height: 100%;
					overflow: hidden;
                    
					& > img {
						width: auto;
						max-width: initial;
						height: 100%;
					}
				}
			}
		}

		@include tools-mixins-sizes-breakpoint-above(1440px) {
			&-content {
				& > .wp-block-image {
					overflow: visible;
				}
			}
		}
	}
}