@use '@/scss/theme-configuration' as *;

.is-style-button-secondary {

	&,
	& .wp-block-button__link {
		@include components-button(var(--wp--custom--color--button-secondary), var(--wp--custom--color--button-text));
	}

	&-reversed {
		& .wp-block-button__link {
			border-color: currentColor;
			background-color: var(--wp--custom--color--button-text);
			color: var(--wp--custom--color--button-secondary);

			&:focus,
			&:hover {
				border-color: var(--wp--custom--color--button-secondary);
				background-color: var(--wp--custom--color--button-secondary);
				color: var(--wp--custom--color--button-text);
			}

			&:focus,
			&:focus-visible {
				outline: solid 2px var(--wp--custom--color--button-secondary);
				outline-offset: 2px;
			}

			@include sizes-fullsize() {
				border-color: var(--wp--custom--color--button-secondary);
				background-color: var(--wp--custom--color--button-secondary);
				color: var(--wp--custom--color--button-text);

				&:focus,
				&:hover {
					border-color: currentColor;
					background-color: var(--wp--custom--color--button-text);
					color: var(--wp--custom--color--button-secondary);
				}
			}
		}
	}
}

.wp-block-buttons.is-style-stack-on-mobile {
	@include tools-mixins-sizes-breakpoint-below(1023px) {
		&.is-content-justification-center {
			justify-content: center;
		}

		&>.wp-block-button {
			width: 100%;
			max-width: pixelsToRem(465);
		}
	}
}