@mixin reset() {
	margin: 0;
	padding: 0;
	border: none 0;
}

@mixin button-reset() {
	@include reset();
	background-color: transparent;    
}

@mixin list-reset() {
	@include reset();
	list-style: none;    
}
