@mixin container($maximumWidth: var(--size__content-width)) {
	width: 100%;
	max-width: $maximumWidth;
	margin: 0 auto;
}

@mixin fullsize() {
	@media screen and (min-width: 1024px) {
		@content;
	}
}