@use '@/scss/theme-configuration' as *;

body.admin-bar {
	.skip-link {
		top: pixelsToRem(38);
	}

	@media screen and (max-width: 782px) {
		.skip-link {
			top: pixelsToRem(58);
		}
	}

	#wpadminbar .screen-reader-shortcut {
		@include components-button(var(--button__generic-text), var(--button__generic-background));
		font-family: var(--font__body);
		font-size: pixelsToRem(12);
	}
}
