@use '@/scss/common/functions.scss';
@use '@/scss/mixins/elements.scss';
@use '@/scss/mixins/sizes.scss';

.header {
	display: grid;
	grid-template-columns: 120px 1fr;
	padding: functions.pixelsToRem(20);
	background-color: var(--header__background);

	@include sizes.fullsize() {
		grid-template-columns: 223px 1fr;
		padding: functions.pixelsToRem(30);
		border-bottom: solid .1rem var(--header__border);
		background-color: var(--header__background-full);
	}

	&__logo {
		&-link {
			display: block;
			height: functions.pixelsToRem(56);
			background-image: var(--header__logo);
			background-repeat: no-repeat;
			background-size: contain;
		}

		@include sizes.fullsize() {
			display: flex;
			justify-content: center;
            
			&-link {
				width: functions.pixelsToRem(175);
				height: functions.pixelsToRem(76);
				background-image: var(--header__logo-full);
			}
		}
	}

	&__controls {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	&__main-navigation {
		ul {
			@include elements.list-reset();
			display: flex;
			flex-direction: row;
			height: 100%; 
			font-family: var(--font__heading);
			font-size: functions.pixelsToRem(20);
			font-weight: 600;
			line-height: 1.2;
		}
		li {
			display: block;
		}
		a {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 1.25rem;
			color: var(--header__text-full);
			text-decoration: none;
		}
	}

	.search__open {
		@include elements.button-reset();
		display: none;
		align-items: center;
		justify-content: center;
		padding: 0 1.25rem;
		cursor:pointer;

		&:after {
			content: 'O';
			display: block;
			width: 25px;
			height: 25px;
		}
	}

	&__search {
		display: none;
	}

	&__main-navigation {
		display: none;
	}

	@include sizes.fullsize() {
		.search__open {
			display: flex;
		}
    
		&__main-navigation {
			display: flex;
		}
	}
}