@use '@/scss/theme-configuration' as *;

.header {
	@include sizes-site-container();
	display: grid;
	grid-template-columns: pixelsToRem(120) 1fr;
	padding: pixelsToRem(20);
	background-color: var(--header__background);
	font-size: 1rem;

	@include sizes-fullsize() {
		grid-template-columns: pixelsToRem(223) 1fr;
		padding: pixelsToRem(30);
		border-bottom: solid .1rem var(--header__border);
		background-color: var(--header__background-full);
	}

	a,
	button {
		&:focus {
			outline: solid pixelsToRem(2) currentColor;
		}
	}

	&__logo {
		&-link {
			display: block;
			height: pixelsToRem(56);
			background-image: var(--header__logo);
			filter: var(--header__logo-mobile-filter);
			background-repeat: no-repeat;
			background-size: contain;

			&:focus, 
			&:hover {
				filter: var(--header__link-filter-mobile);
				outline-offset: pixelsToRem(3);
			}
		}

		@include sizes-fullsize() {
			display: flex;
			justify-content: center;
            
			&-link {
				width: pixelsToRem(175);
				height: pixelsToRem(76);
				filter: brightness(0.1);

				&:focus, 
				&:hover {
					filter: var(--header__link-filter);
				}
			}
		}
	}

	&__controls {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	&__main-navigation {
		.menu {
			@include tools-mixins-elements-list-reset();
			display: flex;
			flex-direction: row;
			height: 100%; 
			font-family: var(--font__body);
			font-size: pixelsToEm(20);
			font-weight: 600;
			line-height: 1.2;
		}
		.menu-item {
			display: block;

			&:focus,
			&:focus-visible {
				outline: none;
			}
			a {
				&:hover {
					text-decoration: underline;
					text-underline-offset: pixelsToRem(3);
				}
			}

			&.linkedin,
			&.youtube {
				.text {
					@include visually-hidden();
				}
			}

			&.linkedin {
				a {
					@include components-main-menu-icon(
						pixelsToRem(20),
						pixelsToRem(20),
						var(--header__icon-linkedin)
					);
				}			
			}

			&.youtube {
				a {
					@include components-main-menu-icon(
						pixelsToRem(24),
						pixelsToRem(18),
						var(--header__icon-youtube)
					);
				}			
			}
		}
		a {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 1.25rem;
			color: var(--header__text-full);
			text-decoration: none;
		}
	}

	.search__open {
		@include components-main-menu-icon(
			pixelsToRem(25),
			pixelsToRem(25),
			var(--header__icon-search)
		);
		display: none;
		padding: 0 1.25rem;
	}

	&__search {
		display: none;
	}

	&__main-navigation {
		display: none;
	}

	@include sizes-fullsize() {
		.search__open {
			display: flex;
		}
    
		&__main-navigation {
			display: flex;
		}
	}
}