@use '@/scss/theme-configuration' as *;

#mobile__navigation {
	display: flex;
	align-items: center;
	justify-content: center;
    
	.mobile__menu-open {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 32px;
		border-top: solid 2px currentColor;
		border-right: none 0;
		border-bottom: solid 2px currentColor;
		border-left: none 0;
		background-color: transparent;
		color: var(--header__menu-toggle);

		&:after {
			content: ' ';
			display: block;
			width: 70%;
			height: 1px;
			background: var(--header__menu-toggle);
		}

		&:hover, &:focus {
			color: var(--header__menu-toggle-active);

			&:after {
				background: var(--header__menu-toggle-active);
			}
		}

		&:focus, &:focus-visible {
			outline-offset: 3px;
		}
	}

	@include sizes-fullsize() {
		display: none;
	}
}

#mobile-menu {
	display: none;
	visibility: hidden;
	height: 0;
	padding: 20px;
	background-color: var(--wp--custom--color--mobile-menu-background);

	&.mobile-navigation__open {
		display: block;
		visibility: visible;
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
	}

	.admin-bar &.mobile-navigation__open {
		top: 46px;
	}

	.mobile__menu-close {
		@include tools-mixins-elements-list-reset();
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding: 20px;
		background: transparent;

		&:after {
			content: ' ';
			width: 24px;
			height: 24px;
			background: transparent var(--header__close-button) no-repeat center center
		}
	}

	.mobile__main-navigation {
		ul {
			@include tools-mixins-elements-list-reset();
		}
		li {
			& > a {
				display: flex;
				padding: 20px;
				background-color: var(--wp--custom--color--mobile-menu-link-background);
				color: var(--wp--custom--color--mobile-menu-link-text);
				text-decoration: none;

				&:focus,
				&:hover {
					background-color: var(--wp--custom--color--mobile-menu-link-background-active);
					color: var(--wp--custom--color--mobile-menu-link-text-active);
				}
			}
		}
	}
}

body.mobile-navigation__open {
	height: 100vw;
	overflow: hidden;
}