@use '@/scss/theme-configuration' as *;

#mobile__navigation {
	display: flex;
	align-items: center;
	justify-content: center;
    
	.mobile__menu-open {
		display: flex;
		align-items: center;
		justify-content: center;
		width: pixelsToRem(45);
		height: pixelsToRem(32);
		border-top: solid pixelsToRem(2) currentColor;
		border-right: none 0;
		border-bottom: solid pixelsToRem(2) currentColor;
		border-left: none 0;
		background-color: transparent;
		color: var(--header__menu-toggle);

		&:after {
			content: ' ';
			display: block;
			width: 70%;
			height: pixelsToRem(1);
			background: var(--header__menu-toggle);
		}

		&:hover, &:focus {
			color: var(--header__menu-toggle-active);

			&:after {
				background: var(--header__menu-toggle-active);
			}
		}

		&:focus, &:focus-visible {
			outline-offset: pixelsToRem(3);
		}
	}

	@include sizes-fullsize() {
		display: none;
	}
}

#mobile-menu {
	display: none;
}