@use '@/scss/theme-configuration' as *;

.aligncenter {
	align-self: center;
}

.alignleft {
	align-self: flex-start;
}

.alignright {
	align-self: flex-end;
}

.visually-hidden {
	@include visually-hidden();
}