@use '@/scss/theme-configuration' as *;

.card {
	&__section {
		display: block;

		& > .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: grid;
			grid-gap: pixelsToRem(60);
    
			@include sizes-fullsize() {
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	&__icon {
		& > .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			flex-direction: column;
			gap: pixelsToRem(10);
            
			& > * {
				@include tools-mixins-elements-reset();
			}
		}

		figure {
			& > div > img {
				padding-bottom: 0;
			}
		}
	}
}