@use '@/scss/theme-configuration' as *;

.hero {
	&__home {
		display: block;
		
		&-content {
			display: block;

			& > .block-editor-inner-blocks {
				display: block;
				width: 100%;
				max-width: 100%;

				& > .block-editor-block-list__layout {
					display: grid;
					grid-template-areas: 'hero-description' 'hero-image';
					margin: 0 auto;

					& > .wp-block-group,
					& > .wp-block-image {
						max-width: 100%;
					}

					& > .wp-block-group {
						grid-area: hero-description;
					}

					& > .wp-block-image {
						grid-area: hero-image;
						margin: 0;

						@include tools-mixins-sizes-breakpoint-below(1024px) {
							& > .components-resizable-box__container {
								width: 100% !important;
								max-width: calc(100vw - 2.222rem) !important;
								height: auto !important;
								max-height: var(--wp--custom--sizes--hero-full-height) !important;
							}
						}
					}

					@include sizes-fullsize() {
						grid-template-areas: 'hero-description hero-image';
						grid-template-columns: 465px auto;
						grid-template-rows: var(--wp--custom--sizes--hero-full-height);
						max-width: 1400px;
					}
				}
			}
		}

		&-background {
			z-index: 0;
			height: 75vw;

			@include sizes-fullsize() {
				right: -20vw;
				left: -20vw;
				width: 140vw;
				height: var(--wp--custom--sizes--hero-full-height);
			}
		}

		@include tools-mixins-sizes-breakpoint-above(1024px) {
			height: var(--wp--custom--sizes--hero-full-height);
			max-height: var(--wp--custom--sizes--hero-full-height);

			&-background,
			&-content {
				max-height: var(--wp--custom--sizes--hero-full-height);
			}
		}
	}
}