@mixin container($maximumWidth) {
	width: 100%;
	max-width: $maximumWidth;
	margin: 0 auto;
}

@mixin breakpoint-above($size) {
	@media screen and (min-width: $size) {
		@content;
	}
}

@mixin breakpoint-below($size) {
	@media screen and (max-width: $size) {
		@content;
	}
}