@use 'functions.scss';

$root_path: '../' !default;
$static_image_path: $root_path + 'static/images/';

:root {
	// Color export
	--color__wf-border: #000000ff; 
	--color__snow: #ffffffff; 
	--color__night: #000000ff; 
	--color__gold: #f2d98dff; 
	--color__tangerine-saturated: #f27435ff; 
	--color__tangerine-med: #f2884bff; 
	--color__ocean-dk: #006a77ff; 
	--color__ocean: #037f8cff; 
	--color__ocean-md: #6ea1a6ff; 
	--color__tropical-sky-dark: #006799ff; 
	--color__trop-sky-md: #048abfff; 
	--color__sunrise: #f2c299ff; 
	--color__sunrise-light: #f8e7daff; 
	--color__trop-sky-mdlt: #a8c3daff; 
	--color__trop-sky-lt: #dcebf6ff; 
	--color__pale-grey: #e1dddcff; 
	--color__gold-lt: #fff0c3ff; 
	--color__ocean-mdlt: #a2d8ddff; 
	--color__ocean-lt: #d6edefff;

	// Font Families
	--font__body: Lato, Arial, sans-serif;
	--font__heading: Petrona, Arial, sans-serif;

	// Size
	--size__content-width: functions.pixelsToRem(1440);
	--size__font-body: 18px;

	// Header
	--header__background: var(--color__night);
	--header__background-full: var(--color__snow);
	--header__border: var(--color__pale-grey);
	--header__logo: url('#{$static_image_path}logo-site-header.svg');
	--header__logo-mobile-filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(8%) hue-rotate(220deg) brightness(116%) contrast(100%);
	--header__link-filter: brightness(0) saturate(100%) invert(18%) sepia(63%) saturate(4337%) hue-rotate(173deg) brightness(93%) contrast(101%);
	--header__link-filter-mobile: brightness(0) saturate(100%) invert(64%) sepia(7%) saturate(1481%) hue-rotate(137deg) brightness(93%) contrast(86%);;
	--header__menu-toggle: var(--color__snow);
	--header__menu-toggle-active: var(--color__ocean-md);
	--header__text: var(--color__snow);
	--header__text-full: var(--color__night);

	// Header Controls
	--header__icon-linkedin: url('#{$static_image_path}icon-linkedin.svg');
	--header__icon-search: url('#{$static_image_path}icon-search.svg');
	--header__icon-youtube: url('#{$static_image_path}icon-youtube.svg');

	// Buttons
	--button__generic-background: var(--color__tropical-sky-dark);
	--button__generic-text: var(--color__snow);
	--button__generic-active-background: var(--color__snow);
	--button__generic-active-text: var(--color__tropical-sky-dark);

	// Cards
	--cards__heading-color: var(--color__ocean-dk);
}
